/* fonts */
@import url('https://fonts.googleapis.com/css?family=Monoton|Montserrat');

/* colors
-------------------------------------------------- */
:root {
    --main-bg-color: #0b0b58;
    --main-font-color: #fff;
    --main-font-family: 'Montserrat', sans-serif;
    --secondary-font-family: 'Monoton', cursive;
}

/* general page style
------------------------------------------------*/
html,
body {
    font-family: var(--main-font-family);
    font-weight: 200;
    height: 100vh;
    margin: 0;
    line-height: 0.8;
}

.nav-link {
    color: var(--main-font-color);
}

.nav-link:hover,
.nav-link:active,
.nav-link:visited {
    color: var(--main-font-color);
}

/* general style-end */

/* helper classess 
-----------------------------------------------*/
.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
    font-family: var(--secondary-font-family);
}

.links>a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

/* helper classes-end */

/* form elements 
------------------------------------------------------------*/
.btn.btn-primary {
    background: var(--main-bg-color);
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 5px;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:visited,
.btn.btn-primary:active {
    background: var(--main-bg-color) !important;
    border: none !important;
    outline: none !important;
    box-shadow: 0 0 4px 0.2rem rgba(11, 22, 66, 0.24) !important;
}

.form-control:focus {
    border-color: var(--main-bg-color);
    -webkit-box-shadow: 0 0 0 0.2rem rgba(19, 33, 89, 0.19);
    box-shadow: 0 0 0 0.2rem rgba(19, 33, 89, 0.19);
}

.custom-select:focus {
    border-color: var(--main-bg-color);
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(19, 33, 89, 0.19);
    box-shadow: 0 0 0 0.2rem rgba(19, 33, 89, 0.19);
}

/* form elements-end */

/* nav bar 
------------------------------------------------------------*/
.navbar-laravel {
    background-color: var(--main-bg-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    color: var(--main-font-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navbar-brand {
    padding-left: 5px;
    font-size: 1.5rem;
    letter-spacing: 2px;
    border-left: 3px solid var(--main-bg-color);
    color: var(--main-font-color);
    font-family: var(--main-font-family);
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: var(--main-font-color);
    border-left-color: var(--main-font-color);
    transition: border-left 1s;
}

/* nav-bar-end */

/* profile 
------------------------------------------*/
.avatar {
    /* border-radius: 15%; */
    height: 200px !important;
}

i.profile-icon {
    font-size: 1.5rem;
    padding-right: 10px;
    padding-left: 30px;
    width: 3.6rem;
    display: inline-block;
}

p.profile-d-box {
    /* padding: 1.2rem; */
    /* background: var(--main-bg-color); */
    color: var(--main-bg-color);
    font-size: 1.1rem;
    cursor: pointer;
}

/* profile--end */
